{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <div class="col">
        <div class="d-flex align-items-center mb-3">
            <h1>Booking index</h1>

            <a class="btn btn-success ml-3" href="{{ path(constant('App\\Controller\\BookingController::ROUTE_NEW')) }}">Create new</a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>NumberOfDays</th>
                <th>CreatedBy</th>
                <th>CreatedAt</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.numberOfDays }}</td>
                    <td>{{ booking.createdBy }}</td>
                    <td>{{ booking.createdAt ? booking.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a type="button" class="btn btn-secondary" href="{{ path(constant('App\\Controller\\BookingController::ROUTE_SHOW'), {'id': booking.id}) }}">Show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
