{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <div class="col">
        <div class="d-flex align-items-center mb-3">
            <h1>Booking</h1>

            <a class="btn btn-light ml-3" href="{{ path(constant('App\\Controller\\BookingController::ROUTE_INDEX')) }}">Back to
                list</a>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>NumberOfDays</th>
                <td>{{ booking.numberOfDays }}</td>
            </tr>
            <tr>
                <th>Vehicle brand</th>
                <td>{{ booking.vehicle ? booking.vehicle.brand }}</td>
            </tr>
            <tr>
                <th>Vehicle type</th>
                <td>{{ booking.vehicle.type ? booking.vehicle.type.name }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ booking.createdBy }}</td>
            </tr>
            <tr>
                <th>UpdatedBy</th>
                <td>{{ booking.updatedBy }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ booking.createdAt ? booking.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ booking.updatedAt ? booking.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
