{% extends 'base.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <div class="col">
        <div class="d-flex align-items-center mb-3">
            <h1>Vehicle index</h1>

            <a class="btn btn-success" style="margin-left: auto" href="{{ path('app_vehicle_new') }}">Create new</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Manufactured</th>
                <th>CreatedBy</th>
                <th>CreatedAt</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for vehicle in vehicles %}
                <tr>
                    <td>{{ vehicle.id }}</td>
                    <td>{{ vehicle.brand }}</td>
                    <td>{{ vehicle.type.name }}</td>
                    <td>{{ vehicle.yearOfManufacture ? vehicle.yearOfManufacture|date('Y') : '' }}</td>
                    <td>{{ vehicle.createdBy }}</td>
                    <td>{{ vehicle.createdAt ? vehicle.createdAt|date : '' }}</td>
                    <td>
                        <a class="btn btn-secondary"
                                href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}">Show
                        </a>
                        <a type="button" class="btn btn-primary"
                                href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">Edit
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
