{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <div class="col">
        <div class="d-flex align-items-center mb-3">
            <h1>Vehicle</h1>

            <a class="btn btn-light ml-3" href="{{ path(constant('App\\Controller\\VehicleController::ROUTE_INDEX')) }}">Back to
                list</a>
            <a class="btn btn-primary ml-3 mr-3"
               href="{{ path(constant('App\\Controller\\VehicleController::ROUTE_EDIT'), {'id': vehicle.id}) }}">Edit</a>
            {{ include('vehicle/_delete_form.html.twig') }}
        </div>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ vehicle.brand }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ vehicle.type.name }}</td>
            </tr>
            <tr>
                <th>YearOfManufacture</th>
                <td>{{ vehicle.yearOfManufacture ?? '-' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ vehicle.createdBy }}</td>
            </tr>
            <tr>
                <th>UpdatedBy</th>
                <td>{{ vehicle.updatedBy }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ vehicle.createdAt ? vehicle.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ vehicle.updatedAt ? vehicle.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
