<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
              integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {# beware that the blocks in your template may be named different #}
    {% block head_css %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Rent App</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
                <li class="nav-item active">
                    <a class="nav-link"
                       href="{{ path(constant('App\\Controller\\DefaultController::ROUTE_HOMEPAGE')) }}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path(constant('App\\Controller\\BookingController::ROUTE_INDEX')) }}">Booking</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path(constant('App\\Controller\\VehicleController::ROUTE_INDEX')) }}">Vehicles</a>
                </li>
                <li class="nav-item active" style="position:absolute; right:25px;">
                    <a class="nav-link text-black-50"
                       href="{{ path(constant('App\\Controller\\SecurityController::ROUTE_LOGOUT')) }}">Log Out</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}


{% block body %}{% endblock %}
    <footer class="mt-5 p-3 text-center">
        Symfony app made by Ivan Lenić
    </footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
